.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-image {
  width: 106px;
  height: 71px;
  object-fit: cover;
}
 
.navigation-thq-section-title-elm1 {
  display: block;
  justify-items: center;
}
 
.navigation-thq-btn-elm1 {
  text-decoration: none;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-logo-link-elm {
  width: 353px;
}
 
.footer-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 38px;
  display: flex;
  align-items: flex-start;
}
 
.footer-thq-footer-link-item-elm {
  width: 386px;
}
 
.footer-thq-btn-elm {
  text-decoration: none;
}
 
.footer-container3 {
  display: none;
}
 
.footer-container4 {
  display: contents;
}

.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-thq-btn-elm {
  text-decoration: none;
  background-color: var(--color-primary);
}
 
.home-thq-services-container-elm {
  padding-top: var(--spacing-4xl);
}
 
.home-thq-process-container-elm {
  padding-top: var(--spacing-4xl);
}
 
.home-thq-cta-container-elm {
  max-width: auto;
}
 
.home-thq-cta-card-elm {
  height: auto;
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}
 
.home-thq-section-title-elm3 {
  width: auto;
}
 
.home-container2 {
  display: none;
}
 
.home-container3 {
  display: contents;
}
 
.home-container4 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon32 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text32 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 767px) {
  .home-thq-cta-content-elm {
    max-width: auto;
  }
}
 
@media(max-width: 479px) {
  .home-thq-section-title-elm3 {
    width: 384px;
    height: 41px;
  }
}
