.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-logo-link-elm {
  width: 353px;
}
 
.footer-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 38px;
  display: flex;
  align-items: flex-start;
}
 
.footer-thq-footer-link-item-elm {
  width: 386px;
}
 
.footer-thq-btn-elm {
  text-decoration: none;
}
 
.footer-container3 {
  display: none;
}
 
.footer-container4 {
  display: contents;
}
