.navigation-container1 {
  display: contents;
}
 
.navigation-image {
  width: 127px;
  height: 79px;
  object-fit: cover;
}
 
.navigation-thq-section-title-elm1 {
  display: block;
  justify-items: center;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
